<div class="widget-links" >
    <h3 class="widget-header">{{ _("Friend Links") }}</h3>
    <div class="widget-content">
        <ul>
            <li><a href="http://www.oejia.net/archive" target="_blank">Oejia技术梦博客分享</a></li>
            <li><a href="http://www.jcodecraeer.com" target="_blank">泡在网上的日子</a></li>
        </ul>
    </div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 右侧小广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8461528415810814"
     data-ad-slot="2097561687"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
