<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="{{ config.static_url }}/assets/css/amazeui.min.css"/>
    <style>
        .header {
            text-align: center;
        }

        .header h1 {
            font-size: 200%;
            color: #333;
            margin-top: 30px;
        }

        .header p {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="am-g">
        <h1>拿客</h1>
        <p>技术分享<br/>你我共同成长</p>
    </div>
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>登录</h3>
        <hr>
        <br>
        <br>

        <form id="manager_login" action="javascript:chk();" name="manager_login" method="post" class="am-form">
            <label for="username">用户名:</label>
            <input type="text" name="username" id="username" value="">
            <br>
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" value="">
            <br>
            <div class="am-cf">
                <button type="submit" name="" class="am-btn am-btn-primary am-btn-sm am-fl">登 录</button>
            </div>
        </form>
        <hr>
    </div>
</div>
<script type="text/javascript" src="{{ config.static_url }}/js/jquery.min.js"></script>
<script type="text/javascript">
    document.getElementById('username').focus();
			function getQueryString(name){
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
				var r = decodeURI(window.location.search).substr(1).match(reg);
                if (r != null)
					return unescape(r[2]);
				return null;
			}


    function chk() {
				var uname = $.trim($("#username").val());
				var pwd = $.trim($("#password").val());

				if (uname == "" || pwd == "") {
					alert("用户名或密码不能为空!");
					return;
				}
				serialize_form = $("#manager_login").serialize();
				$.ajax({
					url: "/auth/login",
					type: "POST",
					data: serialize_form,
					success: function(data){
						if (data.code ==0) {
							var m_next = getQueryString('next');
							var m_pop = getQueryString('pop');
							if (m_next) {
								window.location.href = m_next;
							}else if(m_pop){
								window.close();
							}
							else {
								window.location.href = "/";
							}
						}
						else {
							$("#password").val('').focus();
							alert("用户名或密码不正确!");
						}
					}
				});
			}
</script>
</body>
</html>