<h4><strong>好东西要和大家一起分享呦：</strong></h4>
<div class="social-share share-component" data-mode="prepend"></div>
<h4><strong>如果博主的文章对您有所帮助请您支持一下吧，每一分捐助都是对博主最大的鼓励</strong></h4>
<div class="admin-content">
    <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-4 am-gallery-default" data-am-gallery="{ pureview: true }">
        <li>
            <div class="am-gallery-item">
                <a href="{{ config.static_url }}/img/alipay.jpg" class="">
                    <img src="{{ config.static_url }}/img/alipay.jpg" alt="支付宝捐助"/>
                    <h3 class="am-gallery-title">支付宝</h3>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="{{ config.static_url }}/img/weixin.jpg" class="">
                    <img src="{{ config.static_url }}/img/weixin.jpg" alt="微信捐助"/>
                    <h3 class="am-gallery-title">微信</h3>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="{{ config.static_url }}/img/qq.jpg" class="">
                    <img src="{{ config.static_url }}/img/qq.jpg" alt="QQ捐助"/>
                    <h3 class="am-gallery-title">QQ钱包</h3>
                </a>
            </div>
        </li>
    </ul>
</div>
<h3>
    QQ交流群：<a href="http://jq.qq.com/?_wv=1027&k=29rBdXq">213732117(直接点击可加入)</a>
</h3>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Java -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-8461528415810814"
     data-ad-slot="9900030085"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>