<!-- title config -->
<head>
    <meta name="google-site-verification" content="Hf1u0-Q9zQlG5pWr0QqfUdbFKlDZqXleWG-PaQ6R25g" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ config.static_url }}/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ config.static_url }}/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{{ config.static_url }}/assets/css/admin.css">
    <link rel="stylesheet" href="{{ config.static_url }}/css/share.min.css">
    <meta name="description" content="拿客——编程技术分享"/>
    <meta name="keywords" content="java,js,javascript,kotlin,TypeScript,css,Web,javaEE,编程,代码"/>
    <title>{{ _("webname") }}</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?3f6dc57fc0e42b55f780b8a40049d240";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>