﻿<!-- config -->
<div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
    	<div class="navbar-inner">
    		<div class="container">
    			<a class="btn btn-navbar" data-toggle="collapse"
    				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
    				class="icon-bar"></span> <span class="icon-bar"></span>
    			</a><a class="brand" href="/">{{ _("webname") }}</a>
    			<div class="nav-collapse collapse">
    				<ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-chevron-down icon-white"></i> {{_("nav_category")}}</a>
                            <ul class="dropdown-menu">
                                % for tag in tags:
                                    %if tag.rank==1:
                                     <li class="rank-{{ tag.rank }}"><a href="{{ config.search_url }}?type=tag&value={{ tag.name }}&start={{ config.start }}&limit={{ config.limit }}">{{ tag.name }} </a></li>
                                     % end
				                 % end
                            </ul>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><i class="icon-star icon-white"></i> {{_("nav_articles")}}</a>
                            <ul class="dropdown-menu">
                                     <li><a href="/blog/2016/04/08/%E9%9D%A2%E8%AF%95.html">Java面试题</a></li>
                                <li><a href="/blog/2016/04/12/%E4%B8%A4%E7%A7%8D%E6%9E%B6%E6%9E%84%E7%9A%84%E5%8C%BA%E5%88%AB%E5%8F%8A%E4%BC%98%E5%8A%BF%E3%80%81%E5%8A%A3%E5%8A%BF.html">B/S和C/S架构的区别及优势、劣势</a></li>
                            </ul>
                        </li>
    					<li><a href="/"><i class="icon-home icon-white"></i> {{ _("index_home") }}</a></li>
    					<li><a href="{{ config.archive_url }}"><i class="icon-book icon-white"></i> {{ _("index_index") }}</a></li>
    					<li><a href="{{ config.about_url }}"><i class="icon-user icon-white"></i> {{_("index_about")}}</a></li>
    					% if config.cur_user():
    					<li><a href="{{ config.raw_url }}"><i class="icon-th-list icon-white"></i> {{_("index_raw")}}</a></li>
    					% end
    					<li><a href="{{ config.subscribe_url }}"><i class="icon-plus icon-white"></i> {{_("index_subscribe")}}</a></li>
    				</ul>
    				% if config.cur_user():
    				<ul class="nav pull-right">
    					<li><a href="{{ config.private_url }}"> {{ config.cur_user() }}</a></li>
    					<li><a href="/auth/logout"><i class="icon-off icon-white"></i> {{ _("index_exit") }}</a></li>
    				</ul>
    				% end
                    <ul class="nav pull-right">
    					<li><a href="/language?language={{ _("language_code") }}"> {{ _("language") }}</a></li>
    				</ul>
    				<form class="navbar-search pull-right" method="GET" action="{{ config.search_url }}">
    					<i class="icon-search icon-white"></i><input type="text" class="search-query span2" name="value" placeholder="{{ _("search_holder") }}"/>
    					<input type="hidden" name="type" value="query" />
                		<input type="hidden" name="start" value="{{ config.start }}" />
                		<input type="hidden" name="limit" value="{{ config.limit }}" />
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
</div>
